body {
    font-family: Arial, sans-serif;
    background-image: url('istockphoto-525232662-612x612.jpg'); /* Your background image */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
}

button:hover {
    opacity: 0.9;
}

button[type="submit"] {
    background-color: #4CAF50; /* Green for Login button */
}

button[type="submit"]:hover {
    background-color: #45a049;
}

.register-button {
    background-color: #007BFF; /* Blue for Register button */
}

.register-button:hover {
    background-color: #0056b3;
}
